.main-container {
    @apply flex;
}

.sidebar {
    width: 20%;
    height: 100%
}

.content {
    @apply flex-grow;
}

.case-cards {
    @apply flex p-10 justify-between;
}

.card {
    @apply shadow-lg p-6 bg-white rounded-lg ;
    width: 250px;

    &:hover {
        cursor: pointer;
    }
    &:nth-child(1) {
        @apply text-purple-700;
        &:hover {
            @apply text-white bg-purple-700;
            transition: all 0.2s ease-out;
        }
    }
    &:nth-child(2) {
        @apply text-yellow-500;
        &:hover {
            @apply text-white bg-yellow-500;
            transition: all 0.2s ease-out;
        }
    }
    &:nth-child(3) {
        @apply text-green-700; 
        &:hover {
            @apply text-white bg-green-700;
            transition: all 0.2s ease-out;
        }
    }
    &:nth-child(4) {
        @apply text-red-700; 
        &:hover {
            @apply text-white bg-red-700;
            transition: all 0.2s ease-out;
        }
    } 

    &-number {
        @apply font-semibold;
        font-size: 38px;
    }

    &-title {
        @apply font-normal font-semibold;
    }
}