<div class="content-container">
    <div class="title flex flex-col">
        <h1 class="text-gray-700 font-bold">Coronavirus</h1>
        <h2 class="text-gray-400 font-semibold">Home Screen</h2>
    </div>

    <div class="search-bar">
        <div class="search-bar-content">
            <img src="../../../assets/images/icons/search-icon.svg" alt="search-icon" class="search-bar-icon">
            <input type="text" class="search-bar-input" placeholder="Search State" (keyup)="onKeyUp($event)">
        </div>
        <div class="search-value-box scrollbar-chrome scrollbar-mozilla" *ngIf = "isSearching">
            <div *ngFor="let result of results" class="cursor-pointer">
                {{result.state}}
            </div>
        </div>
    </div>


</div>