.content-container {
    @apply flex items-center pl-10 relative;
}

.title {
    @apply mr-10;
    h1 {
        @apply mb-1.5 pl-2;
        font-size: 48px;
        line-height: 32px;
    }

    h2 {
        @apply pl-3;
        font-size: 16px;
        line-height: 24px;
    }
}

.search-bar {
    @apply w-full flex items-center px-5 box-border pr-20 relative;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 0 0 0 2rem;

    &-content {
        @apply flex bg-white w-5/12 rounded-full p-2;
        height: 40px;
        width: 500px;
    }

    &-input {
        @apply w-full bg-transparent outline-none text-gray-600;
    }

    &-icon {
        @apply pr-2
    }
}

.search-value-box {
    @apply rounded-md overflow-scroll bg-white shadow-md;
    width: 500px;
    max-height: 400px;
    position: absolute;
    top: 65px;

    div {
        @apply px-4 py-3;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        
        &:hover {
            @apply bg-gray-100;
        }
    }
}

.scrollbar-chrome::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-chrome::-webkit-scrollbar-thumb {
    @apply rounded;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.12);
}

.scrollbar-mozilla {
    @apply overflow-y-auto;
    scrollbar-color: rgba(0, 0, 0, 0.12) #fff;
    scrollbar-width: thin;
}